aiohttp==3.6.2
astroid==2.4.2
async-timeout==3.0.1
attrs==19.3.0
autopep8==1.5.4
bleach==3.1.5
cachetools==4.1.1
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
colorama==0.4.3
cssselect==1.1.0
decorator==4.4.2
dicttoxml==1.7.4
docutils==0.16
frozendict==1.2
future==0.18.2
geocoder==1.38.1
geoip2==4.0.2
idna==2.10
ip2geotools==0.1.5
IP2Location==8.4.1
isodate==0.6.0
isort==4.3.4
keyring==21.3.0
lazy-object-proxy==1.4.0
lxml==4.5.2
maxminddb==2.0.2
mccabe==0.6.1
multidict==4.7.6
packaging==20.4
pip-review==1.1.0
pkginfo==1.5.0.1
pycodestyle==2.6.0
Pygments==2.7.4
PyLD==2.0.2
pylint==2.5.3
pyparsing==2.4.7
pyquery==1.4.1
pywin32-ctypes==0.2.0
ratelim==0.1.6
rdflib==5.0.0
rdflib-jsonld==0.5.0
readme-renderer==26.0
requests==2.24.0
requests-toolbelt==0.9.1
rfc3986==1.4.0
selenium==3.141.0
six==1.15.0
toml==0.10.1
tqdm==4.48.2
twine==3.2.0
typed-ast==1.4.1
typing==3.7.4.3
urllib3==1.25.10
webencodings==0.5.1
wrapt==1.12.1
yarl==1.5.1
